@model PagedList.IPagedList<OShop.EF.User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section heading{
    Quản lý người dùng
}
<a href="/Admin/User/Create" class="btn btn-primary btn-icon-split">
    <span class="text">Thêm mới người dùng</span>
</a>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tài khoản</th>                        
                        <th>Tên</th>
                        <th>Nhóm</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Tài khoản</th>
                        <th>Tên</th>
                        <th>Nhóm</th>
                        <th>Email</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                            <a href="/Admin/User/Edit/@item.ID" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-info-circle"></i>
                            </a>|
                            <a href="/Admin/User/Delete/@item.ID" class="btn btn-danger btn-circle btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                            </td>
                            <td>@item.UserName</td>
                            <td>@item.Name</td>
                            <td>@item.GroupID</td>
                            <td>@item.Email</td>
                        </tr>
                    }                    
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>